.container-card {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin:2rem;
  padding: 3rem;
 
  
  
}
.container-card-image {
  flex: 2;
  text-align: center;
  overflow: hidden;
  /*margin: 3rem 7rem;*/
 
}

.right{
  border-right: 6px solid red;
  padding-right: 20px;
}
.left{
  border-left: 6px solid red;
  padding-left: 20px;
}

.container-card-image img{
  height: 38rem;
}
.imgabout img{
  height: 21rem;

}

.container-card-text {
  flex: 2;
  width: 100%;
  max-width: none;
  border-radius: 10px;
  padding: 20px;
  /*margin: 2rem 2rem 0 11rem;*/
  height: 60vh;
  width: auto;
  height: auto;
  text-align: justify;
}


.container-card-text .title{
  letter-spacing: 5px;
}

.container-card-text .subtitle{
  margin-top: 1rem;
  font-size: 12px;
}

.container-card-text .text{
  margin-top: 1rem;
  font-size: 22px;
  font-family:"cherneue" ;
}

@media (max-width: 1450px) {
  .container-card-image, .container-card-text {
    margin: 0;
  }
}


@media (max-width: 768px) {
  .container-card {
    flex-direction: column; 
    align-items: center;
    padding: 0;
    margin: 1rem;
  }

  .container-card-image{
    margin-left: 0; 
    margin-top: 20px; 
    
    height: 50px;
    height: auto;
  }
  .container-card-image img{
   
    width: 70vw;
    
  }
}